 draft-bw-alto-cost-mode: Change Typedef to Identity

Hi Jensen,

In light of  draft-bw-alto-cost-mode, we should change the typedef to identity to allow more cost modes to be defined in the future. I will raise an issue in github to track this as well 

     typedef cost-mode {
       type enumeration {
         enum numerical {
           value 1;
           description
             "This mode indicates that it is safe to perform numerical
              operations";
         }
         enum ordinal {
           value 2;
           description
             "This mode indicates that the cost values in a cost map
              represent ranking";
         }
       }
       description
         "The cost mode attribute indicates how costs should be
          interpreted. Specifically, the cost mode attribute indicates
          whether returned costs should be interpreted as numerical
          values or ordinal rankings.";
       reference
         "Section 6.1.2 of RFC 7285.";
     }
Thanks! 
Dhruv

Identity is used in the module instead of enums. 